.container {
    margin: 0 auto;
    padding: 1em;
}

.container section {
    color: rgba(65, 65, 65, 0.952);
    margin: 2rem 20%;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container h1 {
    margin-bottom: 0;
    font-size: 4rem;
}

.container h3 {
    margin-bottom: 0;
    font-size:1.5em;
}


.container p {
    font-size: 15px;
    line-height: 1.6rem;
}